body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}









.contract-container{
  padding: 3rem;
  background: #efefef !important;
}
.contract-container p{
  margin: 0;
  line-height: 25px;
  font-size: 12px;
}
.contract-container .center{
  text-align: center;
}
.contract-container .m-b{
  margin-bottom: 2rem;
}
.contract-container .m-t{
  margin-top: 2rem;
}
.contract-container .bold{
  font-weight: bold;
}


.btn-add-client{
  float: right;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.popup-hidden{
  display: none;
}
.popup-visible{
  display: unset;
  visibility: visible;
  opacity: 1;
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-top: -64px;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

 